{% extends 'shared/_layout.html' %}

{% block title %}
    صفحه اصلی کینگ موزیک
{% endblock %}

{% block content %}
    <div id="main" class="layout-row flex">
        <div id="content" class="flex ">
            <div class="sr">
                <div class="page-hero page-container">
                    <div class="media bg-media">
                        <div class="media-content" style="background-image:url(/static/assets/img/b2.jpg)"></div>
                    </div>
                    <div class="p-5 pos-rlt text-center">
                        <h1 class="display-3 font-weight-bold text-white mb-5 mx-5">قالب موسیقی برای هنرمندان، پلت فرم
                            صوتی.</h1>
                        <a href="/static/html/discover.html" class="btn btn-md gd-primary text-white no-ajax m-2">موسیقی جدید
                            را کشف کنید</a>
                    </div>
                </div>
                <div class="page-container p-5 pos-rlt">
                    <div class="py-5 text-center">
                        <h2 class="display-4 font-weight-bold text-white mb-5">هنرمندان در کینگ موزیک</h2>
                        <p>محبوب ترین هنرمندان را پیدا کنید و به موسیقی آنها در کینگ موزیک گوش دهید، هنگام گوش دادن به آنها
                            لیست پخش خود را ایجاد کنید.</p>
                        <div class="py-4">
                            <a href="/static/html/artists.html" class="btn btn-md btn-outline-primary no-ajax m-2">هنرمندان را کاوش کنید</a>
                        </div>
                    </div>
                </div>
                <div class="row no-gutters flex align-items-end">
                    <div class="col-2">
                        <div class="row no-gutters align-items-end">
                            <div class="col-2">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b0.jpg);"></a></div>
                            </div>
                            <div class="col-10"></div>
                            <div class="col-8">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b1.jpg);"></a></div>
                            </div>
                            <div class="col-4">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b2.jpg);"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b3.jpg);"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b4.jpg);"></a></div>
                            </div>
                            <div class="col-12">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b5.jpg);"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row no-gutters align-items-end">
                            <div class="col-3">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b6.jpg);"></a></div>
                            </div>
                            <div class="col-2">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b7.jpg);"></a></div>
                            </div>
                            <div class="col-7"></div>
                            <div class="col-12">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b8.jpg);"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row no-gutters align-items-end">
                            <div class="col-7">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b9.jpg);"></a></div>
                            </div>
                            <div class="col-5">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b10.jpg);"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b11.jpg);"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b12.jpg);"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row no-gutters align-items-end">
                            <div class="col-5">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b13.jpg);"></a></div>
                            </div>
                            <div class="col-7">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b14.jpg);"></a></div>
                            </div>
                            <div class="col-12">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b15.jpg);"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="row no-gutters align-items-end">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b18.jpg);"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b17.jpg);"></a></div>
                            </div>
                            <div class="col-12">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b20.jpg);"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b17.jpg);"></a></div>
                            </div>
                            <div class="col-6">
                                <div class="media"><a class="media-content"
                                                      style="background-image: url(/static/assets/img/b19.jpg);"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}