<!DOCTYPE html>
<html dir="rtl" lang="en-US">
<head>
    <meta charset="utf-8">
    <title>صفحه ورود به سایت</title>
    <meta name="description" content="Responsive, Bootstrap, BS4">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/libs/slick-carousel/slick/slick.css" type="text/css">
    <link rel="stylesheet" href="/static/libs/slick-carousel/slick/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/theme.css" type="text/css">
    <link rel="stylesheet" href="/static/assets/css/style.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body class="layout-row bg-dark">
    <div class="d-flex flex-column flex"><div class="row no-gutters h-100">
    <div class="col-md-6 bg-dark bg-img" style="background-image:url(/static/assets/img/b6.jpg)"><div class="p-3 p-md-5 d-flex flex-column h-100">
    <h4 class="mb-3 text-white">کینگ موزیک</h4>
    <div class="text-fade">برنامه کینگ موزیک</div>
    <div class="d-flex flex align-items-center justify-content-center"></div>
    <div class="d-flex text-sm text-fade">
    <a href="index.html" class="text-white">درباره</a><span class="flex"></span><a href="#" class="text-white mx-1">شرایط</a><a href="#" class="text-white mx-1">سیاست</a>
    </div>
    </div></div>
    <div class="col-md-6" id="content-body"><div class="p-3 p-md-5">
    <h5>خوش آمدید</h5>
    <p><small class="text-muted">برای مدیریت حساب خود وارد شوید</small></p>
        <form method="post" role="form" action="">
            {% csrf_token %}
            <div class="form-group">
                {{ login_form.username_or_email }}
            </div>
            <div class="form-group">
                {{ login_form.password }}
                <div class="my-3 text-right">رمز عبور را فراموش کرده اید؟<a href="forgot-password.html" class="text-primary"> بازیابی پسورد </a></div>
            </div>
                <button type="submit" class="btn btn-primary mb-4">وارد شوید</button>
                <div>حساب کاربری ندارید؟<a href="{% url 'register' %}" class="text-primary"> ثبت نام کنید </a>
            </div>
        </form>
    </div>
    </div>
    </div>
    </div>
        <script src="/static/libs/jquery/dist/jquery.min.js"></script>
        <script src="/static/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/static/libs/pjax/pjax.min.js"></script>
        <script src="/static/assets/js/ajax.js"></script>
        <script src="/static/assets/js/lazyload.config.js"></script>
        <script src="/static/assets/js/lazyload.js"></script>
        <script src="/static/assets/js/plugin.js"></script>
        <script src="/static/libs/scrollreveal/dist/scrollreveal.min.js"></script>
        <script src="/static/libs/slick-carousel/slick/slick.min.js"></script>
        <script src="/static/libs/feather-icons/dist/feather.min.js"></script>
        <script src="/static/assets/js/theme.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        {% include 'includes/notification.html' with form=register_form messages=messages %}
    </body>
</html>
